.App {
  background-color: #F4FAFF;
  color: #3A4F41;
  font-family: sans-serif;
  min-height: 100vh;
  padding-bottom: 1rem;
}

h1 {
  font-family: 'Libre Franklin', sans-serif;
  font-style: italic;
}

header {
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(167, 154, 139, 0.05);
  margin-bottom: 1rem;
}

header div {
  display: flex;
}

header button {
  background-color: transparent;
  border: none;
  color: #F5F5F5;
  font-size: 1rem;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 1rem;
}

header button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

header button img {
  height: 2rem;
  width: 2rem;
  margin-right: 1rem;
}

.hidden {
  display: none;
}